ci:
  autofix_pr: false
  autoupdate_commit_msg: 'style: pre-commit autoupdate'
  autofix_commit_msg: 'style: pre-commit fixed styling'
  autoupdate_schedule: monthly

repos:
- hooks:
  - id: check-yaml
  - id: check-ast
  - id: check-merge-conflict
  - id: trailing-whitespace
  - id: mixed-line-ending
  - id: fix-byte-order-marker
  - id: check-case-conflict
  - id: check-json
  - id: end-of-file-fixer
  repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
- hooks:
  - args:
    - --in-place
    - --expand-star-imports
    - --remove-all-unused-imports
    - --ignore-init-module-imports
    id: autoflake
  repo: https://github.com/myint/autoflake
  rev: v2.2.1

- repo: https://github.com/asottile/setup-cfg-fmt
  rev: v2.5.0
  hooks:
  - id: setup-cfg-fmt

- repo: https://github.com/asottile/reorder-python-imports
  rev: v3.12.0
  hooks:
  - args:
    - --py38-plus
    id: reorder-python-imports
- hooks:
  - args:
    - --py38-plus
    id: pyupgrade
  repo: https://github.com/asottile/pyupgrade
  rev: v3.15.0
- hooks:
  - id: black
  repo: https://github.com/psf/black
  rev: 24.1.1
- hooks:
  - id: blacken-docs
    args: [-l80]
  repo: https://github.com/adamchainz/blacken-docs
  rev: 1.16.0


- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.12.0
  hooks:
  - id: pretty-format-yaml
    args: [--autofix, --indent, '2']
  - id: pretty-format-toml
    exclude: ^poetry.lock$
    args: [--autofix]

- hooks:
  - id: commitizen
    stages:
    - commit-msg
  repo: https://github.com/commitizen-tools/commitizen
  rev: v3.14.1


- repo: https://github.com/PyCQA/docformatter
  rev: v1.7.5
  hooks:
  - id: docformatter
