site_name: inline-snapshot
site_url: https://15r10nk.github.io/inline-snapshot/
repo_url: https://github.com/15r10nk/inline-snapshot/
edit_uri: edit/main/docs

theme:
  name: material
  custom_dir: docs/theme
  logo: assets/favicon.svg
  favicon: assets/favicon.svg
  features:
  - toc.follow
  - content.code.annotate
  - navigation.tabs

  palette:
  - media: (prefers-color-scheme)

    # Palette toggle for light mode
  - scheme: default
    media: '(prefers-color-scheme: light)'
    primary: teal

    # Palette toggle for dark mode
  - scheme: slate
    media: '(prefers-color-scheme: dark)'
    primary: teal

validation:
  links:
    absolute_links: relative_to_docs


watch:
- CONTRIBUTING.md
- CHANGELOG.md
- README.md
- src/inline_snapshot

nav:
- Home:
  - Introduction: index.md
  - Configuration: configuration.md
  - pytest integration: pytest.md
  - Categories: categories.md
  - Code generation: code_generation.md
  - Limitations: limitations.md
  - Alternatives: alternatives.md
  - Changelog: changelog.md
- Core:
  - assert x == ...: fix_assert.md
  - x == snapshot(): eq_snapshot.md
  - x <= snapshot(): cmp_snapshot.md
  - x in snapshot(): in_snapshot.md
  - snapshot()[key]: getitem_snapshot.md
  - outsource(data): outsource.md
  - '@customize_repr': customize_repr.md
  - types: types.md
- Extensions:
  - first-party (extra): extra.md
  - third-party: third_party.md
- Insiders: insiders.md
- Development:
  - Testing: testing.md
  - Contributing: contributing.md



markdown_extensions:
- toc:
    permalink: true
- admonition
- pymdownx.highlight:
    anchor_linenums: true
- pymdownx.inlinehilite
- pymdownx.snippets:
    check_paths: true
- pymdownx.superfences
- admonition
- pymdownx.details
- pymdownx.superfences
- pymdownx.tabbed:
    alternate_style: true
- attr_list
- pymdownx.emoji:
    emoji_index: !!python/name:material.extensions.emoji.twemoji
    emoji_generator: !!python/name:material.extensions.emoji.to_svg

plugins:
- mkdocstrings:
    handlers:
      python:
        options:
          show_symbol_type_heading: true
          show_symbol_type_toc: true
- social
- search
- markdown-exec:
    ansi: required
- replace-url
- autorefs


extra:
  social:
  - icon: fontawesome/brands/x-twitter
    link: https://x.com/15r10nk
  - icon: fontawesome/brands/mastodon
    link: https://fosstodon.org/@15r10nk
  version:
    provider: mike
    default:
    - latest
    - development
