[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "inline-snapshot"
version = "0.1.1"
description = "compare test results with snapshots from previous test runs"
authors = ["Frank Hoffmann <15r10nk@polarbit.de>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/15r10nk/inline-snapshots"
classifiers = [
    "Development Status :: 4 - Beta",
    "Framework :: Pytest",
    "Intended Audience :: Developers",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: Implementation :: CPython",
    "Programming Language :: Python :: Implementation :: PyPy",
    "Topic :: Software Development :: Testing"
]

[tool.poetry.dependencies]
python = "^3.7"
executing = "^0.9.0"
asttokens = "^2.0.5"

[tool.poetry.dev-dependencies]
pytest = "^7.1"

[tool.poetry.plugins.pytest11]
inline_snapshot = "inline_snapshot.pytest_plugin"

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/15r10nk/inline-snapshots/issues"
