name: Publish docs via GitHub Pages
on:
  push:
    tags:
    - v[0-9]+.[0-9]+.[0-9]+

jobs:
  build:
    name: Deploy docs for new version
    runs-on: ubuntu-latest
    steps:
    - name: Checkout main
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

    - run: pip install hatch
    - run: hatch version | sed -rne "s:([0-9]*)\.([0-9]*)\..*:INLINE_SNAPSHOT_VERSION=\1.\2:p" >> ${GITHUB_ENV}
    - name: publish docs
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        git config user.name "Frank Hoffmann"
        git config user.email "15r10nk@users.noreply.github.com"
        git fetch origin gh-pages --depth=1
        hatch run docs:mike deploy -u --push ${INLINE_SNAPSHOT_VERSION} latest
